nav {

  a {
    color: lighten(color("text"), 40%);
    text-decoration: none;

    &:hover {
      color: color("text"); }}

  .brand {
    display: inline-block;
    padding: 0.5rem 0;
    margin-right: 1rem;
    font-weight: bold; }

  &.top {
    background-color: lighten(color("gray"), 30%);
    border-bottom: color("gray") 1px solid;
    padding: 0 1rem;

    a {
      padding: 0.5rem;

      &.selected {
        color: color("text");
        background-color: lighten(color("gray"), 10%); }}

    ul {
      display: inline;
      padding: 0;
      list-style: none; }

    li {
      display: inline-block; }}}
